<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Приложение</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Навигация</string>
			<key>Key</key>
			<string>navigationStyle</string>
			<key>DefaultValue</key>
			<string>tabBar</string>
			<key>Titles</key>
			<array>
				<string>Вкладки сверху</string>
				<string>Меню слева (beta)</string>
			</array>
			<key>Values</key>
			<array>
				<string>tabBar</string>
				<string>sideBar</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Скрытые переводы</string>
			<key>File</key>
			<string>HiddenTranslations</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Онгоинги</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>ONA в списке онгоингов</string>
			<key>Key</key>
			<string>ongoings_visibility_ona</string>
			<key>DefaultValue</key>
			<string>show</string>
			<key>Titles</key>
			<array>
				<string>Показывать</string>
				<string>Скрыть</string>
			</array>
			<key>Values</key>
			<array>
				<string>show</string>
				<string>hide</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Старые онгоинги</string>
			<key>Key</key>
			<string>ongoings_visibility_old</string>
			<key>DefaultValue</key>
			<string>show</string>
			<key>Titles</key>
			<array>
				<string>Показывать</string>
				<string>Скрыть</string>
			</array>
			<key>Values</key>
			<array>
				<string>show</string>
				<string>hide</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
